<div class="card" ng-controller="PokemonController as pokemonCtrl" ng-init="pokemonCtrl.init()">

    <div class="main__loader" loader ng-if="pokemonCtrl.loader">
    </div>

    <div class="card__container" ng-if="!pokemonCtrl.loader">

        <a class="card__back" href="/">&times;</a>

        <div class="card__info">
            <div class="card__image">
                <img ng-src="{{pokemonCtrl.pokemon.image}}" alt="Pokemon Image">
            </div>

            <div class="card__title">
                {{ pokemonCtrl.pokemon.name }}
            </div>

            <div class="card__item">
                <strong class="card__subtitle">
                    Number:
                </strong>
                <div class="card__specs">
                    {{ pokemonCtrl.pokemon.id }}
                </div>
            </div>

            <div class="card__item">
                <strong class="card__subtitle">
                    Abilities:
                </strong>
                <ul class="card__specs">
                    <li ng-repeat="abilities in pokemonCtrl.pokemon.abilities">
                        {{ abilities.ability.name }}
                    </li>
                </ul>
            </div>

            <div class="card__item">
                <strong class="card__subtitle">
                    Experience:
                </strong>
                <div class="card__specs">
                    {{ pokemonCtrl.pokemon.experience }}
                </div>
            </div>

            <div class="card__item">
                <strong class="card__subtitle">
                    Weight:
                </strong>
                <div class="card__specs">
                    {{ pokemonCtrl.pokemon.weight }}
                </div>
            </div>

            <div class="card__item">
                <strong class="card__subtitle">
                    Height:
                </strong>
                <div class="card__specs">
                    {{ pokemonCtrl.pokemon.height }}
                </div>
            </div>
        </div>

        <div class="card__comments" ng-controller="CommentController as commentCtrl" ng-init="commentCtrl.init()">

            <div class="card__block">
                <div class="comments__title">
                    Leave your comment:
                </div>

                <form class="comments__form" ng-submit="commentCtrl.send()">
                    <div class="form__holder">
                        <input class="form__input" required type="text" ng-model="commentCtrl.comment.new.user">
                        <label class="form__label">Name</label>
                        <span class="form__line"></span>
                    </div>

                    <div class="form__holder">
                        <input class="form__input" required type="text" ng-model="commentCtrl.comment.new.text" >
                        <label class="form__label">Message</label>
                        <span class="form__line"></span>
                    </div>

                    <button class="form__button" type="submit" name="button">Send</button>
                </form>
            </div>

            <div class="card__block comments">
                <div class="comments__title">
                    Comments:
                </div>

                <!-- Comments list -->
                <ul class="comments__list" ng-if="commentCtrl.comment.all.length">
                    <li class="comments__item" ng-repeat="comment in commentCtrl.comment.all">
                        <div class="comments__name">
                            {{comment.user}}
                        </div>
                        <div class="comments__text">
                            {{comment.text}}
                        </div>
                    </li>
                </ul>

                <!-- Without comments -->
                <div class="card__message" ng-if="!commentCtrl.comment.all.length">
                    There aren't comments :(
                </div>


            </div>

        </div>
    </div>
</div>
