<div ng-controller="HomeController as homeCtrl" ng-init="homeCtrl.init()">

    <div class="main__loader" loader ng-if="homeCtrl.loader">
    </div>

    <ul class="tiles">
        <li class="tiles__item" ng-repeat="pokemon in homeCtrl.items">
            <a class="tiles__container" ng-href="/pokemon/{{pokemon.name}}">

                <div class="tiles__thumb">
                    <img ng-src="../../img/pokemons/{{$index + 1}}.png" alt="">
                </div>

                <p class="tiles__title">
                     {{ pokemon.name }}
                </p>

            </a>
        </li>
    </ul>
</div>
