<div ng-controller="PokemonController as pokemonCtrl" ng-init="pokemonCtrl.init()">

    <div ng-bind="pokemonCtrl.pokemon.name">
    </div>

    <div>
        <form ng-submit="pokemonCtrl.sendComment(pokemonCtrl.pokemon.name)">
            <input ng-model="pokemonCtrl.comment.user" type="text" placeholder="name">
            <textarea ng-model="pokemonCtrl.comment.text" name="name" rows="8" cols="40"></textarea>
            <button type="submit" name="button">Comment</button>
        </form>
    </div>

    <div>
        <ul>
            <li ng-repeat="comment in pokemonCtrl.comment.all">
                <span ng-bind="comment.user"></span>
                <span ng-bind="comment.text"></span>
            </li>
        </ul>
    </div>

</div>
