<div class="pokedex" ng-controller="PokedexController as pokedexCtrl" ng-init="pokedexCtrl.init()">

    <div loading ng-if="pokedexCtrl.loading">
    </div>

    <ul class="tiles">
        <li class="tiles__item" ng-repeat="pokemon in pokedexCtrl.items">
            <a class="tiles__container" ng-href="/pokemon/{{pokemon.name}}">

                <div class="tiles__thumb">
                    <img ng-src="../../img/pokemons/{{$index + 1}}.png" alt="">
                </div>

                <p class="tiles__title">
                     {{ pokemon.name }}
                </p>

            </a>
        </li>
    </ul>
</div>
