<div ng-controller="PokemonController as pokemonCtrl" ng-init="pokemonCtrl.init()">

    <div ng-bind="pokemonCtrl.pokemon.name">
    </div>

    <div ng-controller="CommentController as commentCtrl" ng-init="commentCtrl.init()">
        <form ng-submit="commentCtrl.send()">
            <input ng-model="commentCtrl.comment.new.user" type="text" placeholder="name">
            <textarea ng-model="commentCtrl.comment.new.text" name="name" rows="8" cols="40"></textarea>
            <button type="submit" name="button">Comment</button>
        </form>

        <div>
            <ul>
                <li ng-repeat="comment in commentCtrl.comment.all">
                    <span ng-bind="comment.user"></span>
                    <span ng-bind="comment.text"></span>
                </li>
            </ul>
        </div>
    </div>



</div>
