/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
button {
  background: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 5px;
  padding: 5px 15px;
}
form {
  width: 100%;
}
form input {
  width: 100%;
  height: 30px;
  margin: 0 0 10px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid gray;
  margin: 5px 0;
  padding: 0 5px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}
html {
  overflow: hidden;
}
body {
  background: linear-gradient(45deg, #ad0404, #7b0303);
  overflow: auto;
}
.main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}
.pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.pokemon .pokemon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}
@media (min-width: 992px) {
  .main {
    width: 900px;
  }
  .pokemon .pokemon__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tiles__container {
  width: 100%;
  padding: 20px 10px 15px 10px;
}
.tiles__item {
  text-align: center;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  border-radius: 6px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  min-height: 150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out;
  will-change: box-shadow;
}
.tiles__item:hover {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
}
.tiles__item:hover .tiles__title {
  color: #ad0404;
}
.tiles__title {
  font-family: 'Wendy One', sans-serif;
  text-transform: capitalize;
  color: #046484;
  transition: color 0.2s ease-in-out;
}
.pokemon__info .pokemon__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}
.pokemon__info .pokemon__card .pokemon__name {
  text-transform: capitalize;
  font-family: 'Wendy One';
  font-size: 25px;
  color: #ad0404;
}
.pokemon__comments {
  margin: 20px 0 0 0;
}
.pokemon__comments_title {
  font-weight: bold;
  margin: 0 0 10px 0;
  display: block;
  color: #ad0404;
}
.pokemon__comments__list .pokemon__comments__item {
  padding: 10px 0;
}
.pokemon__comments__list .pokemon__comments__user {
  font-style: italic;
}
.pokemon__comments__without {
  margin: 15px 0;
  text-align: center;
}
@media (min-width: 992px) {
  .pokemon__comments {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .pokemon__comments_title {
    text-align: center;
    margin: 0 0 25px 0;
  }
}
.pokemon__caracteristics .pokemon__caracteristics__item + .pokemon__caracteristics__item {
  margin: 20px 0 0 0;
}
.pokemon__caracteristics .pokemon__abilities__title {
  font-weight: bold;
  margin: 0 0 10px 0;
  display: block;
  color: #ad0404;
}
.pokemon__caracteristics .pokemon__abilities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 15px;
  padding: 5px;
}
.pokemon__caracteristics .pokemon__abilities__item li {
  padding: 5px 10px 5px 0;
}
@media (min-width: 992px) {
  .pokemon__info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
