.comments {

    &__title
    {
        margin: 0 0 10px 0;
        display: block;
        color: @blue;
        font-family: @headings;
        font-size: 20px;
        text-align: center;
    }

    &__item
    {
        padding: 15px 0;

        &:not(:first-child)
        {
            border-top: 1px solid @gray;
        }
    }

    &__name
    {
        font-weight: bold;
        margin: 0 0 5px 0;
    }

}
