
.pokemon__caracteristics
{
    .pokemon__caracteristics__item + .pokemon__caracteristics__item
    {
        margin: 20px 0 0 0;
    }

    .pokemon__abilities__title
    {
        font-weight: bold;
        margin: 0 0 10px 0;
        display: block;
        color: @red;
    }

    .pokemon__abilities__item
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 15px;
        padding: 5px;

        li
        {
            padding: 5px 10px 5px 0;
        }

    }
}

@media @desktop
{
    .pokemon__info
    {
        flex: 1;
    }
}
