.tiles
{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item
    {
        text-align: center;
        background-color: @white;
        flex: 1 1 100px;
        padding: 10px;
        border: 3px solid @red;
        border-radius: 6px;
        width: 100%;
        min-height: 100px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title
    {
        font-family: 'Wendy One', sans-serif;
        color: @teal;
        text-transform: capitalize;
    }
}
