.tiles
{
    display: flex;
    flex-wrap: wrap;

    &__item
    {
        text-align: center;
        background-color: @white;
        flex: 1 1 100px;
        padding: 10px;
        border-radius: 6px;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 10px;
        min-height: 150px;
    }

    &__title
    {
        font-family: 'Wendy One', sans-serif;
        text-transform: capitalize;
        color: @blue;
    }
}
