
// Colors
@red: #EF5350;
@black: #000;
@white: #fff;
@teal: #00796B;

// Breakpoinst for responsive
@tablet: ~"(min-width: 600px)";
@desktop: ~"(min-width: 992px)";
@wide: ~"(min-width: 1200px)";;
@hd: ~"(min-width: 1415px)";;
