* {
     box-sizing : border-box;
}

html,
body
{
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

html
{
    overflow: hidden;
}

body
{
    background: linear-gradient(45deg, @red, @dark-red);
    overflow: auto;
}

.main
{
    width: 90%;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.pokemon
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .pokemon__container
    {
        display: flex;
        flex-direction: column;
        background-color: @white;
        border-radius: 5px;
        padding: 20px;
        width: 100%;

    }

}

@media @desktop {

    .main
    {
        width: 900px;
    }

    .pokemon .pokemon__container
    {
        flex-direction: row;
    }

}
