body
{
    background: linear-gradient(45deg, @red, @dark-red);
}

.main
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

@media @desktop {

    .main
    {
        width: 900px;
    }

}
